#root {
  width: 100%;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.textAbout {
  font-size: 1.2em;
  margin: 20px;
  max-width: 600px;
  line-height: 1.5;
}

.xpCards {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: 10vw;
}




