.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  height: 60px;
  padding: 5px;
  padding-inline: 50px;
  margin-top: 1vh;
}

