name: jest-and-docker-ci-frontend # Nom du workflow

on:
    push:
        paths:
            - "frontend/**" # Déclenchement automatique, uniquement lors d'un push et uniquement sur dans le dossier frontend

jobs:
    test-front:
        runs-on: ubuntu-latest # Déclare un job nommé et tourne sur une VM Ubuntu fournie par Github
        steps: # Permet de lister les étapes à éxécuter séquentiellement 
            - name: Check out code 
              uses: actions/checkou@v2 # Télécharge le repo dans la VM sans ça la VM n'a pas de code
            - name: Goto client and run tests
              run: cd frontend && npm i && npm test
    docker:
        needs: test-front # Ce job dépend de test-front et démarre si le test passe
        if: github.ref == 'refs/heads/main'  
        runs-on: ubuntu-latest
        steps:
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3 # Permet un build multi-architectural
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3 # Active Buildx (builder moderne Docker) et permet le multi plaforme, cache avancé etc ...
            - name: Login to docker Hub
              uses: docker/login-action@v3 # Authentification docker hub (Seting -> Secret -> Actions)
              with:
                username: ${{ secrets.DOCKERHUB_UERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }} 
            - name: Build and push
              uses: docker/build-push-action@v5 # Action officielle Docker pour builder et pousser l'image
              with:
                push: true # Push automatique
                context: "{{defaultContext}}:frontend" # Contexte de build = dossier frontend
                file: build.Dockerfile 
                tags: ${{ secrets.DOCKERHUB_USERNAME }}/portfolio-frontend:latest
                build-args: |
                  NEXT_PUBLIC_API_LINK=${{ secrets.NEXT_PUBLIC_API_LINK }}
                  NEXT_PUBLIC_IMAGE_API=${{ secrets.NEXT_PUBLIC_IMAGE_API }}
